.table{
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(200, 200, 200);
  width: 500px;
}
.table-ul{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px solid rgb(200, 200, 200);
}
.table-ul:last-child li{
  height: 40px;
  line-height: 40px;
}
.table-ul:first-child li:first-child, .table-ul:last-child li:first-child {
  width: 60%;
}
.table-ul:first-child, .table-ul:last-child li:first-child{
  background-color: rgb(242, 242, 242);
}
.table-ul:last-child li:not(:first-child){
  color: gray;
}
.table-li{
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}