.table-two {
  border-bottom: 2px solid rgb(200, 200, 200);
  width: 500px;
}
.table-gap {
  margin: 30px 0;
  height: 10px;
  background-color: aqua;
}
.table-gap1{
  height: 30px;
}
.table-two-ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px solid rgb(200, 200, 200);
  align-items: center;
}
.table-two-ul:not(:first-child) li:not(:first-child) {
  color: gray;
}
.table-two-ul:first-child {
  height: 60px;
}
.table-two-ul:not(:first-child) {
  height: 40px;
}
.table-two-ul:first-child, .table-two-ul:not(:first-child) li:first-child {
  background-color: rgb(242, 242, 242);
}
.table-two-ul:not(:first-child) li:first-child{
  line-height: 40px;
}
.table-two-ul li:first-child {
  text-align: center;
}
.table-two-ul li:not(:first-child){
  text-align: center;
}
.table-two-ul li{
  flex-basis: 50px;
}
.table-two-ul li:not(:first-child) {
  flex: 1;
}